body {
    width: 300px;
    height: 300px;
    background-color: #e0fbfc;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: #184e77;
    border-radius: 6px;
    border: 1px solid #219ebc;
    padding: 10px;
}
